.indicator {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #ff9800;
    -fx-border-width: 3;
}

.admin-navbar .indicator {
    -fx-border-style: hidden hidden hidden solid;
}