# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Dev\SE02-SE-G02-SPRO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
